
body {
    font-family: "Avenir";
    background-color: hsla(0, 0%, 10%, 1.0);
    color: skyblue;
}


.login_page {
    max-width: 30em;
    margin: auto;
}


.post {
    padding-left: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid;
    border-left: 1px dotted;
}

.post > h2 > a {
    all:  unset;
    cursor:  pointer;
}

.timestamp {
    font-size: 85%;
}